.login-container {
  position: absolute;
  top: 50%; 
  right: 50%;
  transform: translate(50%,-50%);
  background-color: #495057;
  border-radius: 20px;
  padding: 20px;
  height: 35%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

input[type="text"], input[type="password"] {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  border-width: 5px;
  outline: none;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.login-button {
  background-color:#44c767;
  border-radius:30px;
  border:2px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  padding:17px 38px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}