:root {
  --border: 3px solid black;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse; 
  color: white;
}

table, tbody {
  border: var(--border);
}

thead, th {
  border: var(--border);
  padding: 0.5rem;
} 

td {
  padding: 0.5rem;
}

.transaction-table-container {
  display: flex;
}

.user-home {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 0.5rem;
  color: white;
}

.account-select {
  margin-top: 1rem;
}

h2 {
  margin: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 768px) {
  .user-home {
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
  }  
  thead, th, td {
    padding: 0;
  } 
}